{
    "parser": "babel-eslint",
    "extends": ["@selz/eslint-config/es6"],
    "env": {
        "browser": true
    },
    "rules": {
        "no-shadow": "off",
        "no-param-reassign": ["error", { "props": false }]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
